.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    font-size: 2rem;
    color: #FF6A00;
    font-weight: 800;
}
.navbar .admin-pannel{
    font-size: 14px;
    font-weight: 400;
}

.navbar .profile{
    width: 40px;
}